name: 16 - Working with Environments
#run-name: 16 - Working with Environments | env ${{inputs.target-env}}
on: 
  workflow_dispatch:
    # inputs:
    #    target-env: 
    #       type: environment
    #       default: staging 
       

jobs:
#   echo:
#     runs-on: ubuntu-latest
#     environment: ${{ inputs.target-env}}
#     env:
#       my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}
#     steps:
#       - name: Echo vars
#         run: | 
#           echo "Env variable:" ${{env.my-env-value}}
  deploy-staging:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Echo vars
        run: | 
          echo "Deploying to staging" 
  e2e-tests:
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - name: Echo vars
        run: | 
          echo "Running E2e" 
  deploy-prod-frontend:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    steps:
      - name: Echo vars
        run: | 
          echo "Deploying to prod frontend"  
  deploy-prod-beackend1:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    steps:
      - name: Echo vars
        run: | 
          echo "Deploying to prod backend1"  
  deploy-prod-beackend2:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    steps:
      - name: Echo vars
        run: | 
          echo "Deploying to prod backend2"  

